  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="https://z3.ax1x.com/2021/04/19/cT9idK.png" alt="">
              <span>{{- .Site.Title }}</span>
            </a>
            <h4>Think what you think!</h4>
            <div class="social-links mt-3">
              <a href="#"><i class="bi bi-chat-dots-fill"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram bx bxl-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="https://www.faa.gov">FAA</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://www.easa.europa.eu/home">EASA</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://amos.caac.gov.cn/#/home">CAAC</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://www.boing.com">Boeing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://www.airbus.com">Airbus</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://www.comac.com">Comac</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Airworthiness Maintenance Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Technical Support</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Consultant Support</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Mateial Support</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Training Device Consultant</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Aviation System Development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Software Support</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              {{- .Site.Params.addressOffice}} <br>
              {{- .Site.Params.addressCity}} <br>
              {{- .Site.Params.addressCountry}} <br>
              <strong>Phone: </strong>{{- .Site.Params.salesPhone}}<br>
              <strong>Email: </strong>{{- .Site.Params.salesEmail}}<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>{{- .Site.Title }}</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->