<!--
* @Author                : Robert Huang<56649783@qq.com>
* @CreatedDate           : 2024-12-09 17:36:00
* @LastEditors           : Robert Huang<56649783@qq.com>
* @LastEditDate          : 2025-01-27 22:52:24
* @FilePath              : MerBleueSite/index2.html
* @CopyRight             : MerBleueAviation
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link href="./img/logo.ico" rel="icon">
  <link href="./img/logo.ico" rel="apple-touch-icon">

  <link href="./css/materialicons.css" rel="stylesheet" type="text/css">
  <link href="./css/quasar.prod.css" rel="stylesheet" type="text/css">
  <link href="./css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
  <script src="./js/vue@3.5.13/vue.global.prod.js"></script>
  <script src="./js/vue-i18n@11.0.1/vue-i18n.global.prod.js"></script>
  <script src="./js/vue-i18n@11.0.1/en-US.js"></script>
  <script src="./js/vue-i18n@11.0.1/zh-CN.js"></script>
  <script src="./js/quasar-umd@2.15.1/quasar.umd.prod.js"></script>
  <script src="./js/lottie-player.js"></script>

  <div id="q-app">
    <q-layout view="lHh lpr lFf" container style="height: 100vh" @scroll="scroll">
      <!-- header -->
      <q-header :style="headerBgColor">
        <q-toolbar class="justify-between" style="height:44px; padding-left: 40px;">
          <q-btn dense flat round size="sm" class="q-mr-xs" @click="goTo('#home')">
            <q-avatar dense>
              <q-img src="./img/logo.png"></q-img>
            </q-avatar>
          </q-btn>
          <q-toolbar-title>
            <span class="main-text-color">{{ $t('COMPANY_NAME') }}</span>
          </q-toolbar-title>
          <q-tabs v-model="menu" inline-label class="main-text-color">
            <q-tab name="about" no-caps :label="$t('MENU_ABOUT')" @click="goTo('#about')"></q-tab>
            <q-tab name="services" no-caps :label="$t('MENU_SERVICES')" @click="goTo('#services')"></q-tab>
            <q-tab name="works" no-caps :label="$t('MENU_WORKS')" @click="goTo('#works')"></q-tab>
            <q-tab name="team" no-caps :label="$t('MENU_TEAM')" @click="goTo('#team')"></q-tab>
            <q-tab name="contact" no-caps :label="$t('MENU_CONTACT')" @click="goTo('#contact')"></q-tab>
          </q-tabs>
          <q-select dense borderless emit-value map-options options-dense v-model="language" :options="langOptions"
            option-label="label" option-value="value" @update:model-value="changeLanguage">
            <template #prepend>
              <q-icon :name="'img:./img/'+ language + '.svg'"></q-icon>
            </template>
            <template #selected-item="{ opt }">
              <span class="main-text-color">{{ opt.label }}</span>
            </template>
          </q-select>
        </q-toolbar>
      </q-header>

      <div class="row q-pa-none q-gutter-sm justify-center" style="margin-top: 44px;">
        <!-- carousel -->
        <div class="col-12" id="home">
          <q-carousel animated infinite autoplay navigation arrows v-model="carousel_slide"
            transition-prev="slide-right" transition-next="slide-left" @mouseenter="autoplay = false"
            @mouseleave="autoplay = true">
            <q-carousel-slide name="1" img-src="./img/carousel_1.png">
              <div class="absolute-bottom custom-caption">
                <div class="text-h2 text-white">{{ $t('WELCOME_TO_COMPANY', {company:$t('COMPANY_NAME')} ) }}</div>
              </div>
            </q-carousel-slide>
            <q-carousel-slide name="2" img-src="./img/carousel_2.png">
              <div class="absolute-bottom custom-caption">
                <div class="text-h2 text-white">{{ $t('WELCOME_TO_COMPANY', {company:$t('COMPANY_NAME')} ) }}</div>
              </div>
            </q-carousel-slide>
          </q-carousel>
        </div>

        <!-- About -->
        <div class="col-10 q-pa-lg" id="about">
          <q-card flat style="background-color: transparent;">
            <q-card-section>
              <div class="text-h4">{{ $t('ABOUT_TITLE') }}</div>
            </q-card-section>
            <q-card-section>
              <div class="text-h5 main-text-color">{{ $t('ABOUT_CONTENT', {company:$t('COMPANY_NAME')} ) }}</div>
            </q-card-section>
          </q-card>
        </div>

        <!-- Services -->
        <div class="col-10 text-center text-h4 main-text-color q-pa-md" id="services" style="padding-top: 50px;">
          {{ $t('SERVICE_TITLE') }}
        </div>
        <div class="col-10 row q-col-gutter-lg justify-center">
          <div v-for="(item,index) in services" :key="index"
            class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 flex justify-center">
            <q-intersection transition="slide-up" transition-duration="2000" once>
              <img :id="uid()" :src="'./img/services/' + item.img + '.png'" @mouseover="zoomIn"
                @mouseleave="zoomOut"></img>
              <q-card flat style="background-color: transparent;">
                <q-card-section>
                  <div class="text-h6 main-text-color">{{ $t(item.title) }}</div>
                  <div class="text-subtitle2" v-for="subTitle in item.subTitles">{{ $t(subTitle.title) }}</div>
                </q-card-section>
              </q-card>
            </q-intersection>
          </div>

        </div>

        <!-- Works -->
        <div class="col-10 text-center text-h4 main-text-color q-pa-md" id="works" style="padding-top: 50px;">
          {{ $t('WORKS_TITLE') }}
        </div>
        <div class="col-10 row justify-center q-pa-none">
          <div v-for="(item,index) in works" :key="index" class="image-container">
            <q-intersection transition="slide-up" transition-duration="2000" once>
              <img :id="uid()" :src="'./img/works/service-' + item.index + '.jpg'" style="height: 300px;"
                @mouseover="zoomIn" @mouseleave="zoomOut"></img>
              <div class="hover-text">{{ item.title }}</div>
            </q-intersection>
          </div>
        </div>

        <!-- Resources -->
        <div class="col-10 text-center text-h4 main-text-color q-pa-md" id="works" style="padding-top: 50px;">
          {{ $t('RESOURCE_TITLE') }}
        </div>
        <div class="col-10 row justify-center q-pa-none">
          <div v-for="n in 27" :key="index" class="q-pa-md">
              <img :id="uid()" :src="'./img/resources/resource-' + n + '.png'" style="height: 20px;"
                @mouseover="zoomIn" @mouseleave="zoomOut"></img>
          </div>
        </div>

        <!-- Team -->
        <div class="col-10 text-center text-h4 main-text-color q-pa-md" id="team" style="padding-top: 50px;">
          {{ $t('TEAM_TITLE') }}
        </div>
        <q-list class="col-10 flex justify-center">
          <q-item>
            <q-intersection transition="slide-up" transition-duration="2000" once>
              <div class="main-text-color text-h5">{{ $t('TEAM_DESC_1') }}</div>
            </q-intersection>
          </q-item>
          <q-item>
            <q-intersection transition="slide-up" transition-duration="4000" once>
              <div class="main-text-color text-h5">{{ $t('TEAM_DESC_2') }}</div>
            </q-intersection>
          </q-item>
          <q-item>
            <q-intersection transition="slide-up" transition-duration="6000" once>
              <div class="main-text-color text-h5">{{ $t('TEAM_DESC_3') }}</div>
            </q-intersection>
          </q-item>
          <q-item>
            <q-intersection transition="slide-up" transition-duration="8000" once>
              <div class="main-text-color text-h5">{{ $t('TEAM_DESC_4') }}</div>
            </q-intersection>
          </q-item>
        </q-list>

        <!-- Contact -->
        <div class="col-10 text-center text-h4 main-text-color q-pa-md" id="contact" style="padding-top: 50px;">
          {{ $t('CONTACT_TITLE') }}
        </div>
        <div class="col-10 row">
          <div class="col-12 col-sm-4 q-pa-md text-center">
            <q-icon name="location_on" size="40px" color="indigo"></q-icon>
            <q-card flat style="background-color: transparent;">
              <q-card-section>
                <div class="main-text-color">{{ $t('CONTACT_LOCATION') }}</div>
              </q-card-section>
              <q-card-section>
                <p>533 Pontheiu Circle, Ottawa, K1W 0N4, Canada</p>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-12 col-sm-4 q-pa-md text-center">
            <q-icon name="mail" size="40px" color="green"></q-icon>
            <q-card flat style="background-color: transparent;">
              <q-card-section>
                <div class="main-text-color">{{ $t('CONTACT_EMAIL') }}</div>
              </q-card-section>
              <q-card-section>
                <p>wei.tang@merbeleueaviation.com</p>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-12 col-sm-4 q-pa-md text-center">
            <q-icon name="call" size="40px" color="deep-purple"></q-icon>
            <q-card flat style="background-color: transparent;">
              <q-card-section>
                <div class="main-text-color">{{ $t('CONTACT_PHONE') }}</div>
              </q-card-section>
              <q-card-section>
                <p>&#43;1 613 769 6684</p>
              </q-card-section>
            </q-card>
          </div>
        </div>

        <!-- Footer -->
        <div class="col-12" style="background-color: white;height: 2px;"></div>
        <div class="col-10">
          <q-toolbar>
            <a href="index.html">
              <img src="./img/logo.png" style="height: 60px;">
            </a>
            <span class="text-h5 main-text-color">Mer Bleue Aviation
              <div class="text-h6">Think what you think!</div>
            </span>
            <q-toolbar-title>
              <span class="q-pa-md q-gutter-sm text-center">
                {{ $t('USEFUL_LINKS') }}
                <a href="https://www.faa.gov"><q-btn flat label="FAA"></q-btn></a>
                <a href="https://www.easa.europa.eu/home"><q-btn flat label="EASA"></q-btn></a>
                <a href="https://amos.caac.gov.cn/#/home"><q-btn flat label="CAAC"></q-btn></a>
                <a href="https://www.boing.com"><q-btn flat label="Boeing"></q-btn></a>
                <a href="https://www.airbus.com"><q-btn flat label="Airbus"></q-btn></a>
                <a href="https://www.comac.com"><q-btn flat label="Comac"></q-btn></a>
              </span>
            </q-toolbar-title>
            <img src="./img/footer-bg.png" style="height: 200px;">
          </q-toolbar>
          <div class="main-text-color text-center">© Copyright <strong><span>{{ $t('COMPANY_NAME') }}</span></strong>.
            All Rights Reserved</div>
        </div>
      </div>
    </q-layout>
  </div>

  <script>
    const i18n = VueI18n.createI18n({
      legacy: false,
      missingWarn: true,
      fallbackWarn: true,
      fallbackLocale: 'enUS',
      messages: {
        'enUS': enUS,
        'zhCN': zhCN
      }
    })
    const { t } = i18n.global

    Quasar.useMeta({
      title: t('COMPANY_NAME'),
      meta: {
        keywords: { name: 'keywords', content: t('META_KEYWORDS') },
        description: { name: 'description', content: t('META_DESCRIPTION', { company: t('COMPANY_NAME') }) },
      }
    })

    const app = Vue.createApp({
      setup() {
        // header background color
        const headerBgColor = Vue.ref("background-color: transparent;")

        // Languages -->>
        const language = Vue.ref(Quasar.Cookies.get('lang') || 'enUS')
        i18n.global.locale.value = language.value
        //Quasar.lang.set(Quasar.lang[language.value]);

        // services
        const services = Vue.ref([
          {
            title: 'SERVICE_1_TITLE', img: 'technical_consultation',
            subTitles: [
              { title: 'SERVICE_1_SUBTITLE_1' },
              { title: 'SERVICE_1_SUBTITLE_2' },
              { title: 'SERVICE_1_SUBTITLE_3' },
            ]
          },
          {
            title: 'SERVICE_2_TITLE', img: 'material',
            subTitles: [
              { title: 'SERVICE_2_SUBTITLE_1' },
              { title: 'SERVICE_2_SUBTITLE_2' }
            ]
          },
          {
            title: 'SERVICE_3_TITLE', img: 'aviation_system',
            subTitles: [
              { title: 'SERVICE_3_SUBTITLE_1' },
              { title: 'SERVICE_3_SUBTITLE_2' }
            ]
          },
        ])

        // services counts
        const serviceCounts = Vue.ref([
          { text: 'SERVICE_COUNT_TITLE_1', icon: 'hive', color: 'indigo', targetVal: 86 },
          { text: 'SERVICE_COUNT_TITLE_2', icon: 'school', color: 'deep-purple', targetVal: 5 },
          { text: 'SERVICE_COUNT_TITLE_3', icon: 'published_with_changes', color: 'purple', targetVal: 5 },
          { text: 'SERVICE_COUNT_TITLE_4', icon: 'handyman', color: 'pink', targetVal: 10 },
          { text: 'SERVICE_COUNT_TITLE_5', icon: 'engineering', color: 'teal', targetVal: 25 },
          { text: 'SERVICE_COUNT_TITLE_6', icon: 'groups', color: 'orange', targetVal: 10 },
          { text: 'SERVICE_COUNT_TITLE_7', icon: 'interpreter_mode', color: 'green', targetVal: 1128 },
        ])
        function autoIncrementNumber(item) {
          item.currentVal = 0
          // const timer = setInterval(() => {
          //   item.currentVal += 1; // 每次增加1
          //   if (item.currentVal >= item.targetVal) {
          //     clearInterval(timer);
          //   }
          // }, 100); // 每隔100毫秒增长一次
        }

        // works
        const works = Vue.ref([
          { index: 1, title: 'PCF Project' },
          { index: 2, title: 'PCF Project' },
          { index: 3, title: 'BSI on site' },
          { index: 4, title: 'BSI on site' },
          { index: 5, title: 'CFM56-3 Training Engine' },
          { index: 6, title: 'CFM56-3 Training Engine' },
          { index: 7, title: 'CFM56-3 Training Engine' },
          { index: 8, title: 'CFM56-3 Training Engine' },
          { index: 9, title: 'CAAC CAD Analysis' }
        ])

        Vue.onMounted(() => {
          // services counts
          for (const element of serviceCounts.value) {
            autoIncrementNumber(element);
          }
        })

        return {
          uid: Quasar.uid,
          headerBgColor: headerBgColor,
          scroll: (details) => {
            headerBgColor.value = details.position > 50 ? 'background-color: white;' : 'background-color: transparent;'
          },
          menu: Vue.ref('about'),
          carousel_slide: Vue.ref("1"),
          autoplay: Vue.ref(true),
          goTo: (url) => {
            window.location.href = url
          },
          language,
          langOptions: Vue.ref([
            { label: '中文', value: 'zhCN' },
            { label: 'English', value: 'enUS' }
          ]),
          changeLanguage: (lang) => {
            i18n.global.locale.value = lang
            //console.log(lang)
            //Quasar.lang.set(Quasar.lang[lang]);
            Quasar.Cookies.set('lang', lang, { path: '/', expires: 30 });
          },
          services: services,
          serviceCounts: serviceCounts,
          zoomIn: (evt) => {
            document.getElementById(evt.target.id).classList.add('zoom')
          },
          zoomOut: (evt) => {
            document.getElementById(evt.target.id).classList.remove('zoom')
          },
          works: works
        }
      }
    })

    app.use(Quasar)
    app.use(i18n)
    app.mount('#q-app')
  </script>
</body>

</html>